@{
    ViewData["datapage"] = "tutorial";
}
@model Tuple<byte, string, string, List<Tuple<string, string>>>
@{
    ViewData["Title"] = "";
    var urls = new List<Tuple<string, string>>();
    var data = Model.Item4;
    @foreach (var subject in data)
    {
        urls.Add(Html.makeTutorialUrl_subject(Model.Item1, Model.Item2, Model.Item3, subject.Item1, subject.Item2));
    }
}
@section style {
    <link rel="stylesheet" href="/src/Student/CSS/tutorial/main.css">
}

<div class="container-fluid">
    <div class="row">
        @{await Html.RenderPartialAsync("sideBarTutorial", urls);}

    </div>
</div>
</div>