@{
    ViewData["datapage"] = "tutorial";
}
@model Tuple<StudentAccount, ChangePasswordViewModel, StudentMembership>
@{
    ViewData["Title"] = "Index";
}
@section style {

}
<div>
    <h3>subject</h3>
</div>