<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-right">
            <ul>
                <li>
                    <a href="/">
                        الموقع الرئيسي
                    </a>
                </li>
                 
            </ul>
        </nav>
        <p class="copyright pull-left">
             
             كل الشكر لفريق عمل موقع الاكامديمية التعليمية <script>document.write(new Date().getFullYear())</script>
        </p>
    </div>
</footer>