<div class="tracks-wrapper">
    <ul class="ui steps nav navbar-nav">
        <li class="dropdown  ui step track wow bounceInLeft" data-wow-delay=".1s">
            <a href="#" class="dropdown-toggle" data-id="1" data-toggle="dropdown" aria-expanded="false">
                اعدادى
                <!-- <ul class="subCategories">
                    <li class="subCategory">
                        اعدادى
                    </li>
                    <li class="subCategory">
                        اولى اعدادى
                    </li>
                    <li class="subCategory active">
                        علوم
                    </li>
                </ul>-->
            </a>
            <ul data-parentid="1" class="dropdown-menu dropdown-menu-left subCategory">
                <li><a data-id="6" href="/Tutorial/6/اعدادى/اولى اعداداى"> اولى اعدادى </a> </li>
                <li title="غير متاح" class="disabled">
                    <a data-id="7" href="/Tutorial/7/اعداداى/ثانية اعدادى">ثانية اعدادى</a>
                </li>
                <li title="غير متاح" class="disabled">
                    <a data-id="8" href="/Tutorial/8/اعداداى/ثالثة اعدادى">ثالثة اعدادى</a>
                </li>
            </ul>
        </li>
        <li title="غير متاح" class="ui step  track  disabled wow bounceInLeft" data-wow-delay=".2s">
            <a data-id="2" href="/Tutorial/2" data-target="track-69">
                ثانوى
            </a>
        </li>
        <li title="غير متاح" class="ui step track disabled wow bounceInRight" data-wow-delay=".1s">
            <a data-id="3" href="/Tutorial/3" data-target="track-76">
                كلية
            </a>
        </li>
        <li class="ui step  track wow bounceIn" data-wow-delay=".8s">
            <a data-id="0" href="/Tutorial/0/عام" data-target="track-69">
                عام
            </a>
        </li>
    </ul>
</div>