<div class="sidebar closedSideBar" data-color="blue" data-image="assets/img/sidebar-5.jpg">
    <!--Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                    Tip 2: you can also add an image using data-image tag-->
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="toggleOpen">
                <i class="fa fa-arrow-right"></i>
            </li>
            <li class="active">
                <a href="user.html">
                    <i class="pe-7s-user"></i>
                    <p> حسابى</p>
                </a>
            </li>
            <li>
                <a href="user.html">
                    <i class="pe-7s-id"></i>
                    <p>عضويتى</p>
                </a>
            </li>
            <li>
                <a href="table.html">
                    <i class="pe-7s-note2"></i>
                    <p>دوراتى</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="pe-7s-bell"></i>
                    <p>التنبيهات</p>
                </a>
            </li>
        </ul>
    </div>
</div>