@model ChangePasswordViewModel
<div class="editPassword col-sm-6">
    <h5 class="badge badge-primary">تغيير كلمة السر</h5>
    <form id="EditPasswordForm" class="center-block">
        <div class="formAlert alert alert-danger"></div>
        <div class="form-group">
            <div class="wrap-input100 validate-input m-b-16">
                <input asp-for="OldPassword" class="input100" placeholder="كلمة السر الحالية">
                <span asp-validation-for="OldPassword" class="focus-input100"></span>
                <span class="symbol-input100">
                    <span class="fa fa-lock"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="wrap-input100 validate-input m-b-16">
                <input asp-for="NewPassword" class="input100" placeholder="كلمة السر الجديدة">
                <span asp-validation-for="NewPassword" class="focus-input100"></span>
                <span class="symbol-input100">
                    <span class="fa fa-lock"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="wrap-input100 validate-input m-b-16">
                <input asp-for="ConfirmPassword" class="input100" placeholder="تأكيد كلمة السر الجديدة">
                <span asp-validation-for="ConfirmPassword" class="focus-input100"></span>
                <span class="symbol-input100">
                    <span class="fa fa-lock"></span>
                </span>
            </div>
        </div>
        <div class="container-login100-form-btn">
            <button id="PasswordSubmitBtn" type="button" class="btn btn-danger text-white">
                <i class="fa fa-edit"></i>
                <span>تعديل</span>
            </button>
        </div>
    </form>
</div>