/*header*/
$navBarLiWidth:116px;
$marginAfterNavBar:61px;
$marginAfetrNavBarSm:52px;
$minimizedSideBarWidth:40px;
$mainColor:blueviolet;
$trackStepBgColor:#fff;
$trackStepColor:#31708f;
/*for body*/
$headerHeigth:54px;
$mainPageHeight:564px;
$videoHeight:197px;
$videoWidth:350px;
/*register and logni*/
$mainFormColor:#286090;
/*general*/
$secondColor:#e80917;
 
$rightSideBarForItemsWidth:16%;