@model CourseModel

<form  class="center-block container-fluid">
    <input asp-for="Id" class="hidden">
    <div class="formAlert alert alert-danger"></div>
    <div class="form-group">
        <div class="wrap-input100 validate-input m-b-16">
            <label asp-for="Name"></label>
            <input ng-model="Name" asp-for="Name" class="input100">
            <span asp-validation-for="Name" class="focus-input100"></span>
        </div>
    </div> 
    <div class="form-group">
        <div class="wrap-input100 validate-input m-b-16">
            <label asp-for="Description"></label>
            <textarea style="height:100px;padding-top: 12px;"
                      ng-model="Description" asp-for="Description" class="input100">
            </textarea>
            <span asp-validation-for="Description" class="focus-input100"></span>
        </div>
    </div>
    <div class="form-group row" style="display:flex">
        <div class="col-sm-10">
            <div class="wrap-input100 validate-input">
                <label  asp-for="CostOfCourse"></label>
                <input ng-model="CostOfCourse" asp-for="CostOfCourse" class="input100">
                <span asp-validation-for="CostOfCourse" class="focus-input100"></span>
            </div>
        </div>
        <div class="col-sm-2 notNow">
            <div class="contact100-form-checkbox">
                <input name="NotNowCost" class="input-checkbox100 notNowBtn" id="NotNowCost" type="checkbox">
                <label class="label-checkbox100" for="NotNowCost">
                    ليس الان
                </label>
            </div>
        </div>
    </div>           
    <div class="form-group row" style="display:flex">
        <div class="col-sm-10">
            <div class="wrap-input100 validate-input">
                <label asp-for="Period"></label>
                <input ng-model="Period" asp-for="Period" class="input100">
                <span asp-validation-for="Period" class="focus-input100"></span>
            </div>
        </div>
        <div class="col-sm-2 notNow">
            <div class="contact100-form-checkbox">
                <input name="NotNowPeriod" class="input-checkbox100 notNowBtn" id="NotNowPeriod" type="checkbox">
                <label class="label-checkbox100" for="NotNowPeriod">
                    ليس الان
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row" style="display:flex">
        <div class="col-sm-10">
            <div class="wrap-input100 validate-input">
                <label asp-for="StartDateOfBegin"></label>
                <input ng-model="StartDateOfBegin" asp-for="StartDateOfBegin" class="input100">
                <span asp-validation-for="StartDateOfBegin" class="focus-input100"></span>
            </div>
        </div>
        <div class="col-sm-2 notNow">
            <div class="contact100-form-checkbox">
                <input name="NotNowStartDate" class="input-checkbox100 notNowBtn" id="NotNowStartDate" type="checkbox">
                <label class="label-checkbox100" for="NotNowStartDate">
                    ليس الان
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input ng-model="CategoryId" type="hidden" asp-for="CategoryId">
        <div class="dropdown" id="Categories">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="text"> اسم القسم</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                   
            </ul>
        </div>
        <span asp-validation-for="CategoryId" class="focus-input100"></span>
    </div> 
    <div class="form-group">
        @if (Model == null || Model.IsOpened == false)
        {
            <input ng-model="IsOpened" type="hidden" asp-for="IsOpened" value="false">
            <i class="controlBtn toogleBtn fa fa-2x fa-toggle-off"></i>
            <div class="toggleText">الكورس غير متاح الان</div>
        }
        else
        {
            <input ng-model="IsOpened" type="hidden" asp-for="IsOpened">
            <i class="controlBtn toogleBtn fa fa-2x fa-toggle-on"></i>
            <div class="toggleText">الكورس متاح الان</div>
        }
    </div>      
    <div class="container-login100-form-btn p-t-25">
        @if (ViewData["type"].ToString() == "edit")
        {
            <button type="button" id="EditCourseBtn" class="login100-form-btn">
                <i class="fa fa-edit"></i>
                <span class="text">حفظ</span>
            </button>
        }
        else
        {
            <button type="button" id="AddCourseBtn" class="login100-form-btn">
                <i class="fa fa-plus"></i>
                <span class="text">اضافة</span>
            </button>
        }
    </div>
</form>

 